In [182]:
import geopandas as gpd
from shapely.geometry import mapping
import pandas as pd
from shapely.geometry import Point

In [183]:
gdf_polygons = gpd.read_file('data/World_EEZ_v11_20191118/eez_v11.shp')
gdf_polygons

,MRGID,GEONAME,MRGID_TER1,POL_TYPE,MRGID_SOV1,TERRITORY1,ISO_TER1,SOVEREIGN1,MRGID_TER2,MRGID_SOV2,...,ISO_SOV1,ISO_SOV2,ISO_SOV3,UN_SOV1,UN_SOV2,UN_SOV3,UN_TER1,UN_TER2,UN_TER3,geometry
0,8444.0,American Samoa Exclusive Economic Zone,8670.0,200NM,2204.0,American Samoa,ASM,United States,0.0,0.0,...,USA,NaN,NaN,840,NaN,NaN,16.0,NaN,NaN,"POLYGON ((-166.64112 -17.55527, -166.64194 -17..."
1,8379.0,Ascension Exclusive Economic Zone,8620.0,200NM,2208.0,Ascension,SHN,United Kingdom,0.0,0.0,...,GBR,NaN,NaN,826,NaN,NaN,654.0,NaN,NaN,"POLYGON ((-10.93328 -7.88745, -10.93324 -7.889..."
2,8446.0,Cook Islands Exclusive Economic Zone,8672.0,200NM,2227.0,Cook Islands,COK,New Zealand,0.0,0.0,...,NZL,NaN,NaN,554,NaN,NaN,184.0,NaN,NaN,"POLYGON ((-159.27579 -5.80051, -158.38466 -6.3..."
3,8389.0,Overlapping claim Falkland / Malvinas Islands:...,8623.0,Overlapping claim,2208.0,Falkland / Malvinas Islands,FLK,United Kingdom,8623.0,2149.0,...,GBR,ARG,NaN,826,32.0,NaN,238.0,238.0,NaN,"POLYGON ((-58.54196 -56.22782, -61.62049 -53.7..."
4,8440.0,French Polynesian Exclusive Economic Zone,8656.0,200NM,17.0,French Polynesia,PYF,France,0.0,0.0,...,FRA,NaN,NaN,250,NaN,NaN,258.0,NaN,NaN,"MULTIPOLYGON (((-135.93245 -7.89001, -135.9290..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276,5693.0,Spanish Exclusive Economic Zone,2185.0,200NM,2185.0,Spain,ESP,Spain,0.0,0.0,...,ESP,NaN,NaN,724,NaN,NaN,724.0,NaN,NaN,"MULTIPOLYGON (((4.54375 42.44867, 4.86147 42.0..."
277,62589.0,Chagos Archipelago Exclusive Economic Zone,8616.0,200 NM,8614.0,Chagos Archipelago,NaN,Mauritius,0.0,0.0,...,MUS,NaN,NaN,480,NaN,NaN,NaN,NaN,NaN,"POLYGON ((75.83452 -5.23039, 75.83260 -5.31997..."
278,8383.0,Overlapping claim South Georgia and South Sand...,8624.0,Overlapping claim,2208.0,South Georgia and the South Sandwich Islands,SGS,United Kingdom,8624.0,2149.0,...,GBR,ARG,NaN,826,32.0,NaN,239.0,239.0,NaN,"POLYGON ((-37.13953 -50.64608, -37.03619 -50.6..."
279,8402.0,Bermudian Exclusive Economic Zone,8636.0,200NM,2208.0,Bermuda,BMU,United Kingdom,0.0,0.0,...,GBR,NaN,NaN,826,NaN,NaN,60.0,NaN,NaN,"POLYGON ((-60.70499 32.39114, -60.70499 32.390..."
280,8456.0,United States Exclusive Economic Zone,2204.0,200NM,2204.0,United States,USA,United States,0.0,0.0,...,USA,NaN,NaN,840,NaN,NaN,840.0,NaN,NaN,"MULTIPOLYGON (((-67.28418 45.19126, -67.28403 ..."

In [184]:
df = pd.read_csv("data/lists-Reefers-2022-11-11_04-40.csv")
# df = df[['MMSI', 'Latitude', 'Longitude']]
# df = df.dropna()

In [185]:
df['coordinates'] = list(zip(df['Longitude'], df['Latitude']))
df['coordinates']

0        (147.129738, -43.41259)
1         (125.916477, -7.25151)
2        (145.500383, 59.033167)
3        (-80.923053, -2.216932)
4       (-84.412897, -16.377322)
                  ...
1915                  (nan, nan)
1916                  (nan, nan)
1917                  (nan, nan)
1918                  (nan, nan)
1919                  (nan, nan)
Name: coordinates, Length: 1920, dtype: object

In [186]:
df.coordinates = df.coordinates.apply(Point)
df.coordinates

0        POINT (147.129738 -43.41259)
1         POINT (125.916477 -7.25151)
2        POINT (145.500383 59.033167)
3        POINT (-80.923053 -2.216932)
4       POINT (-84.412897 -16.377322)
                    ...
1915                      POINT EMPTY
1916                      POINT EMPTY
1917                      POINT EMPTY
1918                      POINT EMPTY
1919                      POINT EMPTY
Name: coordinates, Length: 1920, dtype: object

In [187]:
gdf_points = gpd.GeoDataFrame(df, geometry='coordinates')
gdf_points

,Antenna Offset from Bow,Antenna Offset from Port,Beam,Builder,Call Sign,Cargo Type,Class Society,COG,Beneficial Owner,Deadweight,...,Status,Sub Status,Subtype,Time of Fix (formatted),Time of Fix (s since 1970),Vessel Type,Year Built,Design Speed,Double Hull,coordinates
0,61.0,15.0,16.0,Sefine Shipyard Co Inc,LFGH3,5-Reserved,Det Norske Veritas,216.9,Norway,5308.0,...,S,In Service/Commission,Fish Carrier,"""2022-11-11T16:32:13.000Z""",1.668184e+09,7-Cargo,29/12/2018,11.00,SH,POINT (147.12974 -43.41259)
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,260.5,NaN,NaN,...,NaN,NaN,NaN,"""2022-02-17T19:20:33.000Z""",1.645126e+09,NaN,NaN,NaN,NaN,POINT (125.91648 -7.25151)
2,71.0,13.0,15.0,Komuny Paryskiej Stocznia,UDVM,0-AllShips,Russian Maritime Register,119.0,Russia,2397.0,...,S,In Service/Commission,Refrigerated Cargo Ship,"""2022-11-11T14:55:08.000Z""",1.668179e+09,7-Cargo,30/04/1984,0.00,SH,POINT (145.50038 59.03317)
3,14.0,2.0,5.0,NaN,HO6689,0-AllShips,NaN,-1.0,NaN,NaN,...,NaN,NaN,NaN,"""2022-07-05T17:52:14.000Z""",1.657044e+09,37-Pleasure,NaN,NaN,NaN,POINT (-80.92305 -2.21693)
4,110.0,8.0,21.0,Zhejiang Tenglong Shipyard,BZW5N,9-NoInfo,NaN,287.7,China,NaN,...,S,In Service/Commission,Fish Carrier,"""2022-11-11T16:01:25.000Z""",1.668182e+09,7-Cargo,NaN,0.00,SH,POINT (-84.41290 -16.37732)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1915,NaN,NaN,NaN,Qiuxin Shipyard - CHR,NaN,NaN,China Classification Society,NaN,NaN,159.0,...,S,In Service/Commission,Refrigerated Cargo Ship,NaN,NaN,NaN,NaN,0.00,NaN,POINT EMPTY
1916,NaN,NaN,NaN,Qiuxin Shipyard - CHR,NaN,NaN,China Classification Society,NaN,NaN,159.0,...,S,In Service/Commission,Refrigerated Cargo Ship,NaN,NaN,NaN,NaN,0.00,NaN,POINT EMPTY
1917,NaN,NaN,NaN,Zhoushan Zhaobao Shipbuilding,NaN,NaN,China Classification Society,NaN,China,6867.0,...,S,In Service/Commission,Refrigerated Cargo Ship,NaN,NaN,NaN,13/10/2015,13.50,SH,POINT EMPTY
1918,NaN,NaN,NaN,Flensburger KG,NaN,NaN,Det Norske Veritas,NaN,Netherlands,10320.0,...,F,Launched,Ro-Ro Cargo Ship,NaN,NaN,NaN,17/06/2022,20.00,NaN,POINT EMPTY
1919,NaN,NaN,NaN,Kirova - Khabarovsk - USR,NaN,NaN,NaN,NaN,Russia,495.0,...,S,In Service/Commission,Fish Carrier,NaN,NaN,NaN,NaN,11.25,SH,POINT EMPTY

In [188]:
gdf_points.crs = gdf_polygons.crs
gdf_points.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [189]:
gdf_polygons

,MRGID,GEONAME,MRGID_TER1,POL_TYPE,MRGID_SOV1,TERRITORY1,ISO_TER1,SOVEREIGN1,MRGID_TER2,MRGID_SOV2,...,ISO_SOV1,ISO_SOV2,ISO_SOV3,UN_SOV1,UN_SOV2,UN_SOV3,UN_TER1,UN_TER2,UN_TER3,geometry
0,8444.0,American Samoa Exclusive Economic Zone,8670.0,200NM,2204.0,American Samoa,ASM,United States,0.0,0.0,...,USA,NaN,NaN,840,NaN,NaN,16.0,NaN,NaN,"POLYGON ((-166.64112 -17.55527, -166.64194 -17..."
1,8379.0,Ascension Exclusive Economic Zone,8620.0,200NM,2208.0,Ascension,SHN,United Kingdom,0.0,0.0,...,GBR,NaN,NaN,826,NaN,NaN,654.0,NaN,NaN,"POLYGON ((-10.93328 -7.88745, -10.93324 -7.889..."
2,8446.0,Cook Islands Exclusive Economic Zone,8672.0,200NM,2227.0,Cook Islands,COK,New Zealand,0.0,0.0,...,NZL,NaN,NaN,554,NaN,NaN,184.0,NaN,NaN,"POLYGON ((-159.27579 -5.80051, -158.38466 -6.3..."
3,8389.0,Overlapping claim Falkland / Malvinas Islands:...,8623.0,Overlapping claim,2208.0,Falkland / Malvinas Islands,FLK,United Kingdom,8623.0,2149.0,...,GBR,ARG,NaN,826,32.0,NaN,238.0,238.0,NaN,"POLYGON ((-58.54196 -56.22782, -61.62049 -53.7..."
4,8440.0,French Polynesian Exclusive Economic Zone,8656.0,200NM,17.0,French Polynesia,PYF,France,0.0,0.0,...,FRA,NaN,NaN,250,NaN,NaN,258.0,NaN,NaN,"MULTIPOLYGON (((-135.93245 -7.89001, -135.9290..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276,5693.0,Spanish Exclusive Economic Zone,2185.0,200NM,2185.0,Spain,ESP,Spain,0.0,0.0,...,ESP,NaN,NaN,724,NaN,NaN,724.0,NaN,NaN,"MULTIPOLYGON (((4.54375 42.44867, 4.86147 42.0..."
277,62589.0,Chagos Archipelago Exclusive Economic Zone,8616.0,200 NM,8614.0,Chagos Archipelago,NaN,Mauritius,0.0,0.0,...,MUS,NaN,NaN,480,NaN,NaN,NaN,NaN,NaN,"POLYGON ((75.83452 -5.23039, 75.83260 -5.31997..."
278,8383.0,Overlapping claim South Georgia and South Sand...,8624.0,Overlapping claim,2208.0,South Georgia and the South Sandwich Islands,SGS,United Kingdom,8624.0,2149.0,...,GBR,ARG,NaN,826,32.0,NaN,239.0,239.0,NaN,"POLYGON ((-37.13953 -50.64608, -37.03619 -50.6..."
279,8402.0,Bermudian Exclusive Economic Zone,8636.0,200NM,2208.0,Bermuda,BMU,United Kingdom,0.0,0.0,...,GBR,NaN,NaN,826,NaN,NaN,60.0,NaN,NaN,"POLYGON ((-60.70499 32.39114, -60.70499 32.390..."
280,8456.0,United States Exclusive Economic Zone,2204.0,200NM,2204.0,United States,USA,United States,0.0,0.0,...,USA,NaN,NaN,840,NaN,NaN,840.0,NaN,NaN,"MULTIPOLYGON (((-67.28418 45.19126, -67.28403 ..."

In [190]:
sjoin = gpd.sjoin(gdf_points, gdf_polygons, how='left', predicate='within')

In [191]:
df_join = pd.DataFrame(sjoin)
sjoin

,Antenna Offset from Bow,Antenna Offset from Port,Beam,Builder,Call Sign,Cargo Type,Class Society,COG,Beneficial Owner,Deadweight,...,AREA_KM2,ISO_SOV1,ISO_SOV2,ISO_SOV3,UN_SOV1,UN_SOV2,UN_SOV3,UN_TER1,UN_TER2,UN_TER3
0,61.0,15.0,16.0,Sefine Shipyard Co Inc,LFGH3,5-Reserved,Det Norske Veritas,216.9,Norway,5308.0,...,6871622.0,AUS,NaN,NaN,36.0,NaN,NaN,36.0,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,260.5,NaN,NaN,...,6020917.0,IDN,NaN,NaN,360.0,NaN,NaN,360.0,NaN,NaN
2,71.0,13.0,15.0,Komuny Paryskiej Stocznia,UDVM,0-AllShips,Russian Maritime Register,119.0,Russia,2397.0,...,7734809.0,RUS,NaN,NaN,643.0,NaN,NaN,643.0,NaN,NaN
3,14.0,2.0,5.0,NaN,HO6689,0-AllShips,NaN,-1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,110.0,8.0,21.0,Zhejiang Tenglong Shipyard,BZW5N,9-NoInfo,NaN,287.7,China,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1915,NaN,NaN,NaN,Qiuxin Shipyard - CHR,NaN,NaN,China Classification Society,NaN,NaN,159.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1916,NaN,NaN,NaN,Qiuxin Shipyard - CHR,NaN,NaN,China Classification Society,NaN,NaN,159.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1917,NaN,NaN,NaN,Zhoushan Zhaobao Shipbuilding,NaN,NaN,China Classification Society,NaN,China,6867.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1918,NaN,NaN,NaN,Flensburger KG,NaN,NaN,Det Norske Veritas,NaN,Netherlands,10320.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1919,NaN,NaN,NaN,Kirova - Khabarovsk - USR,NaN,NaN,NaN,NaN,Russia,495.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [192]:
df_join

,Antenna Offset from Bow,Antenna Offset from Port,Beam,Builder,Call Sign,Cargo Type,Class Society,COG,Beneficial Owner,Deadweight,...,AREA_KM2,ISO_SOV1,ISO_SOV2,ISO_SOV3,UN_SOV1,UN_SOV2,UN_SOV3,UN_TER1,UN_TER2,UN_TER3
0,61.0,15.0,16.0,Sefine Shipyard Co Inc,LFGH3,5-Reserved,Det Norske Veritas,216.9,Norway,5308.0,...,6871622.0,AUS,NaN,NaN,36.0,NaN,NaN,36.0,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,260.5,NaN,NaN,...,6020917.0,IDN,NaN,NaN,360.0,NaN,NaN,360.0,NaN,NaN
2,71.0,13.0,15.0,Komuny Paryskiej Stocznia,UDVM,0-AllShips,Russian Maritime Register,119.0,Russia,2397.0,...,7734809.0,RUS,NaN,NaN,643.0,NaN,NaN,643.0,NaN,NaN
3,14.0,2.0,5.0,NaN,HO6689,0-AllShips,NaN,-1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,110.0,8.0,21.0,Zhejiang Tenglong Shipyard,BZW5N,9-NoInfo,NaN,287.7,China,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1915,NaN,NaN,NaN,Qiuxin Shipyard - CHR,NaN,NaN,China Classification Society,NaN,NaN,159.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1916,NaN,NaN,NaN,Qiuxin Shipyard - CHR,NaN,NaN,China Classification Society,NaN,NaN,159.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1917,NaN,NaN,NaN,Zhoushan Zhaobao Shipbuilding,NaN,NaN,China Classification Society,NaN,China,6867.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1918,NaN,NaN,NaN,Flensburger KG,NaN,NaN,Det Norske Veritas,NaN,Netherlands,10320.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1919,NaN,NaN,NaN,Kirova - Khabarovsk - USR,NaN,NaN,NaN,NaN,Russia,495.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [193]:
result = df_join #[["MMSI", "Latitude", "Longitude", "MRGID_TER1", "TERRITORY1", "TERRITORY2","SOVEREIGN1", "SOVEREIGN2"]]

In [194]:
result.columns

Index(['Antenna Offset from Bow', 'Antenna Offset from Port', 'Beam',
       'Builder', 'Call Sign', 'Cargo Type', 'Class Society', 'COG',
       'Beneficial Owner', 'Deadweight', 'Destination', 'Design Draft',
       'Draft Present Load', 'ETA', 'Fishing Number', 'Flag', 'Gross Tonnage',
       'Heading', 'IMO Number', 'Last Port of Call', 'Latitude', 'Length',
       'Longitude', 'MMSI', 'Name', 'Navigation Status', 'Official Number',
       'Operator', 'Registered Owner', 'P And I Club', 'Port Of Registry',
       'Propulsion Type', 'Sat Com', 'Sat Com Ansbk Code', 'Ship Type',
       'Speed', 'Status', 'Sub Status', 'Subtype', 'Time of Fix (formatted)',
       'Time of Fix (s since 1970)', 'Vessel Type', 'Year Built',
       'Design Speed', 'Double Hull', 'coordinates', 'index_right', 'MRGID',
       'GEONAME', 'MRGID_TER1', 'POL_TYPE', 'MRGID_SOV1', 'TERRITORY1',
       'ISO_TER1', 'SOVEREIGN1', 'MRGID_TER2', 'MRGID_SOV2', 'TERRITORY2',
       'ISO_TER2', 'SOVEREIGN2', 'MRGID_TER3', 'MRGID_SOV3', 'TERRITORY3',
       'ISO_TER3', 'SOVEREIGN3', 'X_1', 'Y_1', 'MRGID_EEZ', 'AREA_KM2',
       'ISO_SOV1', 'ISO_SOV2', 'ISO_SOV3', 'UN_SOV1', 'UN_SOV2', 'UN_SOV3',
       'UN_TER1', 'UN_TER2', 'UN_TER3'],
      dtype='object')

In [195]:
df_join['ISO_TER1'].isna().mean()

0.33159812597605415

In [196]:
result.to_csv('data/current_location.csv')